.bg-image {
  background-color: #222222;
  background-image: url("../assets/photos/strike-fight-grayscale.jpg");
}
.bg-intro-splash {
  background-image: url("../assets/photos/strike-fight-grayscale.jpg");
}
.barrington-splash {
  background-image: url("../assets/photos/barrington-hub-splash-grayscale.jpg");
}
.brown-risd-splash {
  background-image: url("../assets/photos/brown-risd-hub-splash-grayscale.jpg");
}
.providence-splash {
  background-image: url("../assets/photos/providence-hub-splash-grayscale.jpg");
}
.south-county-splash {
  background-image: url("../assets/photos/south-county-hub-splash-grayscale.jpg");
}
.stonington-splash {
  background-image: url("../assets/photos/stonington-hub-splash-grayscale.jpg");
}
